{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        Categories
        {% endblock %}</title>
</head>

<body>
    {% block content %}
    {% if category_posts %}
    <h1>{{ cats }}</h1>
    {% for post in category_posts %}
    <hr>
    <ul>
        <div class='post-entry'></div>
        <li>
            <h4><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a> | <small>{{ post.author }} -
                    {{post.post_date }}</small>
            </h4>
            {{ post.image }}
            {{ post.body|slice:":130"|safe }}
        </li><br />
        {% endfor %}
    </ul>
    {% else %}
    <hr>
    <h2>Sorry, there are no post under this category</h2>
    {% endif %}
    {% endblock %}
</body>

</html>