decorator==4.4.2
dj-database-url==0.5.0
Django==3.2
django-filter==2.4.0
django-heroku==0.3.1
django-request==1.5.6
djangorestframework==3.12.4
fake-useragent==0.1.11
glob2==0.7
Jinja2==2.11.2
SQLAlchemy @ file:///C:/ci/sqlalchemy_1593445271541/work
sqlparse==0.4.1
whitenoise==5.2.0

